/*menu*/

* {
    box-sizing: border-box
}

body {
   background-image: url(billeder/bagrung.png);
}

img {
    width: 100%
}

.hidden {}

#menuknap {
    display: none;
    font-size: 2.5em;

}


header {
    position: fixed;
    left: 0;
    background-color: #FEBBC5;
    width: 100%;
    top: 0;
}

nav {
    color: black;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    padding: 7px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

#menu a {
    display: block;
    /* This makes the menu vertical */
}

#menu {
    list-style-type: none;
    transition: transform .3s;
}



/*menuslut*/
/*splash*/
#splash {
    width: 99vw;
    height: 100vh;
    background-image: url(billeder/Artboard%201.jpg);
    background-size: cover;
    background-position: 5%;
    max-width: none;
}
/*splashslut*/

#port .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vw;
}




#port .box {
    padding: 50px;
    margin: 30px;
    text-align: center;
    box-sizing: content-box;
    flex-basis: 400px;
    flex-grow: 2;
    background-color: #FEBBC5;
    width: 15%;
    height: 20%;

}

/*splashslu*/
/*om*/
/*
#bagrund_port {
    width: 99vw;
    height: 100vh;
    background-image: url(billeder/Artboard%202.jpg);
    background-size: cover;
    background-position: 5%;
    max-width: none;
}

#port .box_1 {
    box-sizing: content-box;
    position: absolute;
    background-color: #FEBBC5;
    top: 10vw;
    left: 25vw;
    padding: 26px;
    text-align: center;
    width: 15%;
    height: 20%;
}

#port .box_2 {
    box-sizing: content-box;
    position: absolute;
    background-color: #FEBBC5;
    top: 10vw;
    left: 55vw;
    padding: 26px;
    text-align: center;
    width: 15%;
    height: 20%;
}

#port .box_3 {
    box-sizing: content-box;
    position: absolute;
    background-color: #FEBBC5;
    top: 30vw;
    left: 55vw;
    padding: 26px;
    text-align: center;
    width: 15%;
    height: 20%;
}

#port .box_4 {
    box-sizing: content-box;
    position: absolute;
    background-color: #FEBBC5;
    top: 30vw;
    left: 25vw;
    padding: 26px;
    text-align: center;
    width: 15%;
    height: 20%;
}

#port .box_1 a {

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    padding: 7px;
    text-align: center;
    position: absolute;
    top: 5vw;
    left: 5vw;

}

#port .box_2 a {

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    padding: 7px;
    text-align: center;
    position: absolute;
    top: 5vw;
    left: 3vw;

}

#port .box_3 a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    padding: 7px;
    text-align: center;
    position: absolute;
    top: 5vw;
    left: 4vw;

}

#port .box_4 a {

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    padding: 7px;
    text-align: center;
    position: absolute;
    top: 5vw;
    left: 6vw;

}

#port {
    display: flex;
    flex-wrap: wrap;
}
*/



#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vw;

}

#om .col {
    flex-grow: 2;
    flex-basis: 100px;
    background-color: #FEBBC5;
    padding: 1.5rem;
    margin: 2vw;



}

#om .col img {
    flex-grow: 2;
    flex-basis: 100px;
    padding: 1.5rem;
    width: 300px;
    height: 300px:
}

#box.lille {
    overflow: hidden;
    max-height: 150px;
    transition: max-height 0.5s ease-out;
    position: absolute;
    top: 20vw;
    left: 25vw;
    width: 50%;
    background-color: #FEBBC5;

}

#box.stor {
    max-height: 3000px;
    transition: max-height 1s ease-out;
    position: absolute;
    top: 20vw;
    left: 25vw;
    background-color: #FEBBC5;
    width: 50%;
}

#box.lille span:after {
    content: "+";
}

#box.stor span:after {
    content: "-";
}

#mere .plus {
    margin-top: 40px;
    display: inline-block;
    color: red;
    font-weight: 800;
    width: 20px;
    height: 20px;
    background: white;
}

.overlay {
    height: 60px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#FEBBC5, rgba(254, 187, 220, 0.76));
    text-align: center;

}

#overskrift_web h1 {
    text-align: center;
    position: absolute;
    top: 3vw;
    left: 40vw;
    font-size: 3rem;

}

#overskrift_web p {
    text-align: center;
    position: absolute;
    top: 9vw;
    left: 25vw;
    width: 600px;
    font-size: 1rem;

}

#box.stor img {
    top: 10vw;
    left: 25vw;
    padding: 26px;
    text-align: center;
    height: 300px;
    width: 400px;
    background-color: #FEBBC5
}


@media only screen and (max-width: 600px) {

    #menuknap {
        display: inline-block;
    }

    .hidden {
        display: none;


    }

    #menu a {
        display: inline-block;

        /* This makes the menu horisontal */

    }
}
